body {
    margin: 0 auto;
    /* background-image: url("../images/light-grey-terrazzo.png") */
}
.left {
    /* background-image: url("../images/light-grey-terrazzo.png") */
    width: 390px;
    position: fixed;
    height: 1200px;
    background-image: url("../images/light-grey-terrazzo.png")
}
.navbar {   
    /* width: 550px;
    position: relative;
    height: 1200px;
     background-image: url("../images/light-grey-terrazzo.png") */

}
/* img {
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 115px;
    
} */

#nathan {
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 115px;
    
}
h3 {
    font-size: 21px;
    position: absolute;
    top: 253px;
    width: 390px;
    text-align: center;
    color: 	black;
    letter-spacing: 0.2px;
    font-family: 'Barlow', sans-serif;
}
h2 {
    font-size: 24px;
    position: absolute;
    top: 227px;
    width: 390px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: 	red;
    letter-spacing: 0.2px;
}
ul {
    position: absolute;
    top: 318px;
    left: 29px;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16.5px;
    
}
a {
    text-decoration: none;
    color: black
}
a:hover {
    color:gray
}
li {
    
    margin-top: 18px;
}
.right {
    width: 800px;
    height: 1200px;
    position: absolute;
    left: 390px;
    padding: 42px;
    
}
.main-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    color: 	#404040;
    letter-spacing: 0.9px;
}
#column {
    float: left;
    margin-left:10px;
    line-height: 25px;
    


}
.row:after {
    /* display: block; */
content: "";
display: table;
clear: both;
}
#pengiun, #marvel, #titanum, #gooiki, #ravioli, #train, #trivia, #daburger{
    margin-top: 50px;
    border: 2.2px solid whitesmoke;

}
#marvel, #gooiki, #ravioli, #daburger, #sniffer, #titanium {
    border: 2.2px solid whitesmoke;
}
.border {
border-bottom: 1px solid gray;
margin-right: 100px;
margin-top: 40px;
}

span {
    background-color: gainsboro;
    padding: 8px;  
}
span:hover {
    background-color: gray;
    text-decoration: underline;
    margin-top: 3px;
    color: black;
}
.content {
    min-height: 100%;
    clear: both;
    display: flex;
}
    .content-inside {
    padding: 100px;
    padding-bottom: 30px;
    clear: both;
    display: flex;
}
#javascript {
    background-color: yellow;
    padding: 8px;  
    color: grey;
}

#space {
    line-height: 1.6;
    
}

hr {
    margin-right: 500px;
    margin-bottom: 50px;
    border-color: whitesmoke;
}
/* BAR */
.bar{
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
  }
  .bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
  }
  .bar::after{
    content: '';
    background: #6F7285;
    height: 30px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  /* BAR ANIMNATION  */
  @-webkit-keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }
  .graph-cont {
      margin-right:40px;
  }
  /* HTML bar */
  .bar1::after{
    max-width: 92%;
  }
  /* css bar */
  .bar2::after{
      max-width: 89%;
  }
  /* bootstrap */
  .bar3::after{
      max-width: 84%;
  }
  /* javascript */
  .bar4::after{
    max-width: 67%;
}
/* jquery */
    .bar5::after{
    max-width: 77%;
}
/* api */
.bar6::after{
    max-width: 77%;
}
/* node*/
.bar7::after{
    max-width: 77%;
}

.collection {
    margin-top: 20px;
}
p {
    line-height: 22px;
}